<div >
  <img style = 'border: 5px dashed orange' src='http://bit.ly/1eze8aE'>
</div>

<% if @cat_name %>
<h1> "Hi there, my name is <%= @cat_name %>!" </h1>
<% end %>

<% if !@cat_name %>
<form action="named-cat" method="post">
    <input type="text" name="name">
    <input type="submit" value="Submit">
</form>
<% end %>
